:root {
  --Accent-color: #4189f6;
  --inverted-text: #f6f6f6;
  --text-color: #000000;
  --element-bg: #b9b9b9;
}

body {
  width: 100%;

  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background: var(--Accent, #4189f6);
  position: relative;
}

header {
  width: 100%;
  display: inline-flex;
  padding: 8px;
  align-items: center;
  gap: 35px;
  color: var(--inverted-text);
  background: var(--Accent, #4189f6);
}

#mainList {
  display: flex;

  margin: 8px;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--inverted-text);
  border-radius: 32px;
}

.listElement {
  display: flex;
  width: 80%;

  padding: 8px;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  /*   background: var(--element-bg); */
  color: var(--text-color);
}

.listElement svg path {
  stroke: rgb(8, 148, 38);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #4189f6;
}

#listMenu {
  display: block;
  position: relative;
}

.listMenuContent {
  /*  display: none; */

  background-color: #9f0909;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

footer svg {
  margin: 16px 0px;
}
